<div>
  <div class="typeAndProgress">
    <mat-form-field appearance="fill" class="typeAndProgress">
      <mat-label>Type</mat-label>
      <mat-select
        panelClass="panel-{{ rowData.data.type }}"
        (ngModelChange)="onChange($event)"
        [(ngModel)]="rowData.data.type"
      >
        <mat-option style="color: blue;" value="hw">HW</mat-option>
        <mat-option style="color: red;" value="test">Test</mat-option>
        <mat-option style="color: rgb(78, 128, 103);" value="quiz"
          >Quiz</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="typeAndProgress">
    <mat-form-field appearance="fill" class="typeAndProgress">
      <mat-label
        ><mat-icon aria-hidden="false">access_time</mat-icon></mat-label
      >
      <mat-select
        (ngModelChange)="onChange($event)"
        [(ngModel)]="rowData.data.progress"
      >
        <mat-select-trigger>
          <mat-icon [inline]="true" aria-hidden="false">{{
            rowData.data.progress
          }}</mat-icon></mat-select-trigger
        >
        <mat-option value="close">
          <mat-icon aria-hidden="false">close</mat-icon>
          Not Started</mat-option
        >
        <mat-option value="more_horiz">
          <mat-icon aria-hidden="false" aria-label="Example home icon"
            >more_horiz</mat-icon
          >In Progress</mat-option
        >
        <mat-option value="done">
          <mat-icon aria-hidden="false">done</mat-icon>Completed</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
</div>
