<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div style="padding: 5px">Student System</div>
  <button *ngIf="auth.role == 'student'" mat-button routerLink="/weeklyPlanner">
    Weekly Planner
  </button>
  <button *ngIf="auth.role == 'student'" mat-button routerLink="/studentReport">
    Status Report
  </button>
  <button *ngIf="auth.role == 'tutor'" mat-button routerLink="/studentList">
    Student List
  </button>
  <button *ngIf="auth.role == 'admin'" mat-button routerLink="/tutorList">
    Tutor List
  </button>
  <span style="flex: 1 1 auto"></span>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/login">
    Login
  </button>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLink="/register">
    Register
  </button>
  <button *ngIf="auth.isAuthenticated" mat-button routerLink="/user">
    Welcome {{ auth.name }}
  </button>
  <button *ngIf="auth.isAuthenticated" (click)="auth.logout()" mat-button>
    Logout
  </button>
</mat-toolbar>
