<!-- 
    - want to add two buttons with "chevron" icon name
    - Upon click, they will increment or decrement the week id
    - Need to also have a date picker or input there for easier access to the desired week
    - 
-->
<button mat-icon-button (click)="leftDecrement()">
  <mat-icon>chevron_left</mat-icon>
</button>
<mat-form-field>
  <mat-label>Week: {{ currDate }} </mat-label>
  <input
    matInput
    [(ngModel)]="currDate"
    [matDatepicker]="picker"
    [matDatepickerFilter]="myFilter"
    (dateChange)="onDate($event)"
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker [dateClass]="dateClass" #picker> </mat-datepicker>
</mat-form-field>
<button mat-icon-button (click)="rightIncrement()">
  <mat-icon>chevron_right</mat-icon>
</button>
