<h1>List of Students</h1>
<mat-form-field>
  <input matInput placeholder="Student Email" [(ngModel)]="email" />
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="First Name" [(ngModel)]="firstName" />
</mat-form-field>
<mat-form-field>
  <input matInput placeholder="Last Name" [(ngModel)]="lastName" />
</mat-form-field>
<button (click)="addStudent()">Add Student</button>
<student-list-item
  *ngFor="let student of studentList; index as i"
  [email]="studentList[i].email"
  [firstName]="studentList[i].firstName"
  [lastName]="studentList[i].lastName"
></student-list-item>
