.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  padding: 16px 0px 16px 8px;
}

.mat-form-field {
  flex-direction: column;
  justify-content: center;
}

table {
  width: 100%;
}

.wrapDayCols {
  display: inline-block;
}

.typeAndProgress {
  font-size: 12px;
  display: inline-block;
  width: 70px;
  padding: 2px;
}

section {
  white-space: nowrap;
}

.container {
  white-space: nowrap;
}

.centered {
  display: flex;
  justify-content: center;
}

.column {
  display: inline-block;
  width: 33%;
  white-space: normal;
}

#inner {
  display: table;
  margin: 0 auto;
}

#outer {
  width: 100%;
}
