<div style="position: relative; max-height: 400px; max-width: 95%; overflow: auto;">
  <table>
    <tr>
      <th>Class</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Letter Grade</th>
      <th>Percentage (%)</th>
      <th>Grade Color Indicator</th>
      <th>Comments</th>
      <th>To Do</th>
    </tr>
    <tbody>
      <tr>
	<td>
	  <mat-form-field>
            <input matInput placeholder="Math">
          </mat-form-field>
	</td>
	<td>
          <mat-form-field>
            <input matInput placeholder="HW1">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Quiz">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="HW2">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Test">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="HW3">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="A">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="95%">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Green">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Keep it Up">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="None">
          </mat-form-field>
	</td>
      </tr>
      <tr>
	<td>
	  <mat-form-field>
            <input matInput placeholder="Science">
          </mat-form-field>
	</td>
	<td>
          <mat-form-field>
            <input matInput placeholder="HW1">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="HW2">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Quiz">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="B-">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="81%">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Light Green">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Needs Work">
          </mat-form-field>
        </td>
	<td>
          <mat-form-field>
            <input matInput placeholder="Study More">
          </mat-form-field>
        </td>
      </tr>
    </tbody>
  </table>
</div>
