.mat-header-cell {
  flex-direction: column;
  justify-content: center;
}

.mat-cell {
  padding: 0px 0px 0px 8px;
}

.mat-form-field {
  flex-direction: column;
  justify-content: center;
}

table {
  width: 100%;
}

.wrapDayCols {
  display: inline-block;
}

.typeAndProgress {
  font-size: 12px;
  max-width: 35%;
  float: left;
  padding: 0px 0px 0px 2px;
}

section {
  white-space: nowrap;
}

.container {
  white-space: nowrap;
}

.centered {
  display: flex;
  justify-content: center;
}

.column {
  display: inline-block;
  width: 33%;
  white-space: normal;
}

#inner {
  display: table;
  margin: 0 auto;
}

#outer {
  width: 100%;
}

.select-type.mat-form-field-label {
  color: green !important;
}
.select-type.mat-form-field-underline {
  background-color: green !important;
}

.panel-hw.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.panel-test.mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.panel-quiz.mat-select-panel {
  background: rgba(0, 0, 255, 0.5);
}

.panel-HW.mat-select-panel {
  background: rgba(255, 0, 0, 0.5);
}

.panel-Test.mat-select-panel {
  background: rgba(0, 255, 0, 0.5);
}

.panel-Quiz.mat-select-panel {
  background: rgba(0, 0, 255, 0.5);
}
