<div style="position: relative; min-height: 200px;">
  <mat-table
    [dataSource]="dataSource"
    multiTemplateDataRows
    class="mat-elevation-z8"
    style="position: relative; overflow: auto; padding: 8px;"
  >
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field>
          <input
            matInput
            name="class"
            placeholder="Class Name"
            [(ngModel)]="row.class"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="monday">
      <mat-header-cell *matHeaderCellDef> Monday </mat-header-cell>
      <mat-cell *matCellDef="let row; let i = index">
        <div class="wrapDayCols">
          <mat-form-field>
            <input
              matInput
              name="monday"
              placeholder="Assignment"
              [(ngModel)]="row.monday.name"
            />
          </mat-form-field>
          <assignment
            (sendToParent)="getFromChild($event)"
            [rowData]="{ index: i, data: row.monday }"
          ></assignment>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="tuesday">
      <mat-header-cell *matHeaderCellDef> Tuesday </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="wrapDayCols">
          <mat-form-field>
            <input
              matInput
              name="tuesday"
              placeholder="Assignment"
              [(ngModel)]="row.tuesday.name"
            />
          </mat-form-field>
          <assignment
            (sendToParent)="getFromChild($event)"
            [rowData]="{ data: row.tuesday }"
          ></assignment>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wednesday">
      <mat-header-cell *matHeaderCellDef> Wednesday </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="wrapDayCols">
          <mat-form-field>
            <input
              matInput
              name="wednesday"
              placeholder="Assignment"
              [(ngModel)]="row.wednesday.name"
            />
          </mat-form-field>
          <assignment
            (sendToParent)="getFromChild($event)"
            [rowData]="{ data: row.wednesday }"
          ></assignment>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="thursday">
      <mat-header-cell *matHeaderCellDef> Thursday </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="wrapDayCols">
          <mat-form-field>
            <input
              matInput
              name="thursday"
              placeholder="Assignment"
              [(ngModel)]="row.thursday.name"
            />
          </mat-form-field>
          <assignment
            (sendToParent)="getFromChild($event)"
            [rowData]="{ data: row.thursday }"
          ></assignment>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="friday">
      <mat-header-cell *matHeaderCellDef> Friday </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div class="wrapDayCols">
          <mat-form-field>
            <input
              matInput
              name="friday"
              placeholder="Assignment"
              [(ngModel)]="row.friday.name"
            />
          </mat-form-field>
          <assignment
            (sendToParent)="getFromChild($event)"
            [rowData]="{ data: row.friday }"
          ></assignment>
        </div>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="letterGrade">
      <mat-header-cell *matHeaderCellDef>
        Letter Grade
      </mat-header-cell>
      <div>
        <mat-cell
          *matCellDef="let row"
          style="background-color:{{ row.gradeColor }}"
        >
          {{ row.letterGrade }}
        </mat-cell>
      </div>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field>
          <input
            matInput
            name="percentage"
            placeholder="Grade Percentage"
            [(ngModel)]="row.percentage"
          />
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field>
          <mat-label>Comments</mat-label>
          <textarea
            matInput
            name="comments"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            [(ngModel)]="row.comments"
          ></textarea>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="todo">
      <mat-header-cell *matHeaderCellDef> To Do </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-form-field>
          <mat-label>To Do</mat-label>
          <textarea
            matInput
            name="todo"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            [(ngModel)]="row.todo"
          ></textarea>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="save">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary" (click)="tableInput()">
          Save
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="colNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colNames"></mat-row>
    <!--<mat-row
      *matRowDef="
        let row;
        columns: ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k']
      "
    ></mat-row>-->
  </mat-table>
</div>
