<div style="position: relative; min-height: 200px;">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="position: relative; max-height: 400px; overflow: auto;">
    <ng-container matColumnDef="class">
      <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.class>
        </mat-form-field>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="monday">
      <mat-header-cell *matHeaderCellDef> Monday </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.monday>
        </mat-form-field>
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="tuesday">
      <mat-header-cell *matHeaderCellDef> Tuesday </mat-header-cell>
      <mat-cell *matCellDef="let row"> 
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.tuesday>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="wednesday">
      <mat-header-cell *matHeaderCellDef> Wednesday </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.wednesday>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="thursday">
      <mat-header-cell *matHeaderCellDef> Thursday </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.thursday>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="friday">
      <mat-header-cell *matHeaderCellDef> Friday </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.friday>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="letterGrade">
      <mat-header-cell *matHeaderCellDef> Letter Grade </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.letterGrade>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="percentage">
      <mat-header-cell *matHeaderCellDef> Percentage </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
          <input matInput placeholder="" [(ngModel)]=row.percentage>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="gradeColor">
      <mat-header-cell *matHeaderCellDef> Grade Color </mat-header-cell>
      <mat-cell *matCellDef="let row" style="background-color:{{row.gradeColor}}">
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="comments">
      <mat-header-cell *matHeaderCellDef> Comments </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
          <mat-label>Comments</mat-label>
          <textarea matInput
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="1"
                    cdkAutosizeMaxRows="5"
		    [(ngModel)]=row.comments></textarea>
        </mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="todo">
      <mat-header-cell *matHeaderCellDef> To Do </mat-header-cell>
      <mat-cell *matCellDef="let row">
	<mat-form-field>
	  <mat-label>To Do</mat-label>
	  <textarea matInput
		    cdkTextareaAutosize
		    #autosize="cdkTextareaAutosize"
		    cdkAutosizeMinRows="1"
		    cdkAutosizeMaxRows="5"
		    [(ngModel)]=row.todo></textarea>
	</mat-form-field>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="save">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-raised-button color="primary">Save</button>
      </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="colNames"></mat-header-row>
    <mat-row *matRowDef="let row; columns: colNames;"></mat-row>
  </mat-table>
  
</div>
