<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <div style="padding: 5px;">Student System</div>
  <button mat-button routerLink="/">Weekly Planner</button>
  <button mat-button routerLink="/report">Status Report</button>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button routerLink="/login">
    Login
  </button>
  <button mat-button routerLink="/register">
    Register
  </button>
  <button mat-button routerLink="/user">Welcome **insert name**</button>
  <button mat-button>
    Logout
  </button>
</mat-toolbar>
